.shop {
    padding-top: 75px;
    padding-bottom: 75px;
    
    &__body {
        max-width: 780px;
        margin: 0 auto;
    }
    
    &__title {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 52px;
        text-align: center;
        color: #000000;
    }
    
    &__text {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
        max-width: 628px;
        margin: 10px auto 0;
    }

    &__gallery {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
    }
    
    &__laptops {
        width: 639px;
        height: 472px;
        box-shadow: 1px 1px 8px 1px;
        position: relative;
        cursor: pointer;
       
        &-body {
            max-width: 192px;
            position: absolute;
            right: 30px;
        }
        
        &-suptitle {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: right;
            color: #000000; 
        }
        
        &-title {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: right;
            color: #000000;
        }
    
        &-img {
            margin-left: 40px;
        }
    }

    &__watch {
        width: 639px; 
        height: 270px;
        display: flex;
        align-items: center;
        margin-top: 70px;
        box-shadow: 1px 1px 8px 1px;
        cursor: pointer;
        
        &-body {
            max-width: 128px;
            margin-left: 46px;
        }
    
        &-suptitle {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: right;
            color: #000000; 
        }
        
        &-title {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: right;
            color: #000000;
        }
    
        &-img {
            margin-left: 40px;
        }
    }
    
    &__phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 8px 1px;
        width: 312px;
        cursor: pointer;
        
        &-body {
            max-width: 250px;
            margin-top: 40px;
        }
        
        &-suptitle {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
            color: #000000; 
        }
        
        &-title {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
        }
    }

    &__tablet {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 8px 1px;
        cursor: pointer;
        
        &-body {
            max-width: 233px;
            margin-bottom: 42px;
        }
        
        &-suptitle {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
            color: #000000; 
        }
        
        &-title {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
        }
    }
}